In [2]:
import pandas as pd
a=pd.read_csv("movies.csv")
a

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [3]:
a['genres'] = a['genres'].str.replace('|', ' ')
a['genres'] = a['genres'].str.lower()
a.head()

,movieId,title,genres
0,1,Toy Story (1995),adventure animation children comedy fantasy
1,2,Jumanji (1995),adventure children fantasy
2,3,Grumpier Old Men (1995),comedy romance
3,4,Waiting to Exhale (1995),comedy drama romance
4,5,Father of the Bride Part II (1995),comedy

In [4]:
a['genres'].value_counts().head()

genres
drama             1385
comedy             826
comedy drama       465
drama romance      421
comedy romance     363
Name: count, dtype: int64

In [5]:
a = a[a['genres'] != '(no genres listed)']

In [6]:
a=a.reset_index(drop=True)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
genre_matrix=cv.fit_transform(a['genres'])

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(genre_matrix)
similarity

array([[1.        , 0.77459667, 0.31622777, ..., 0.4472136 , 0.4472136 ,
        0.        ],
       [0.77459667, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.31622777, 0.        , 1.        , ..., 0.70710678, 0.70710678,
        0.        ],
       ...,
       [0.4472136 , 0.        , 0.70710678, ..., 1.        , 1.        ,
        0.        ],
       [0.4472136 , 0.        , 0.70710678, ..., 1.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]], shape=(10322, 10322))

In [10]:
movie_indices = pd.Series(a.index, index=a['title']).drop_duplicates()

In [11]:
def recommend(movie_title, n=5):
    idx = movie_indices[movie_title]
    sim_scores = list(enumerate(similarity[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:n+1]
    movie_indexes = [i[0] for i in sim_scores]
    return a['title'].iloc[movie_indexes]